<section id="latestblog">
    <div class="container-latestblog">
        <div class="headline">
            <div class="headline1">
                LATEST
            </div>
            <div class="headline2">
                BLOG
            </div>
        </div>
        <div class="image">
            <img src="~/img/line.svg" alt="" />
        </div>
        <div class="text">
            Read our latest posts about our events and trending news
        </div>

        <div class="carousel">
            <div class="leftarrow">
                <i class="fa-solid fa-circle-arrow-left fa-3x image"></i>
            </div>
            <div class="content1">

            </div>
            <div class="content2">

            </div>
            <div class="rightarrow">
                <i class="fa-solid fa-circle-arrow-right fa-3x image"></i>
            </div>

        </div>
    </div>
</section>