<section id="latestblog">
    <div class="container-latestblog">
        <div class="headline">
            <div class="headline1">
                LATEST
            </div>
            <div class="headline2">
                BLOG
            </div>
        </div>
        <div class="image">
            <img src="~/img/line.svg" alt="" />
        </div>
        <div class="text">
            Read our latest posts about our events and trending news
        </div>

        <div class="carousel">
            <div class="leftarrow">
                <i class="fa-solid fa-circle-arrow-left fa-3x image"></i>
            </div>
            <div class="grey1">
                
            </div>
            <div class="purple1">
                    <div class="date">
                        <img src="~/img/blog/latestblogdate1.svg" />
                    </div>
                    <div class="text1">
                        By <a href="#">Adam Moore</a>
                    </div>
                    <div class="text2">
                        A beautiful scenery in the
                        world we are missing
                    </div>
                    <div class="boxes">
                            <div class="box1">
                                Travel
                            </div>
                            <div class="box2">
                                Fashion
                            </div>
                    </div>
                    <div class="text3">
                        <button class="button4">Read more</button>
                    </div>
            </div>
            <div class="grey2">
                
            </div>
            <div class="purple2">
                    <div class="date">
                        <img src="~/img/blog/latestblogdate2.svg" />
                    </div>
                    <div class="text1">
                        By <a href="#">Jonathon Doe</a>
                    </div>
                    <div class="text2">
                        We love our country, we love our peoples like ourselves
                    </div>
                    <div class="boxes">
                            <div class="box1">
                                Travel
                            </div>
                            <div class="box2">
                                Fashion
                            </div>
                    </div>
                    <div class="text3">
                        <button class="button4">Read more</button>
                    </div>
            </div>
            <div class="rightarrow">
                <i class="fa-solid fa-circle-arrow-right fa-3x image"></i>
            </div>

        </div>
    </div>
</section>