<section id="featuredproducts">
    <div class="container-featured-products">
       <div class="headline">
            <div class="headline1">
                FEATURED
            </div>
            <div class="headline2">
                PRODUCTS
            </div>
        </div>
        <div class="image">
            <img src="~/img/line.svg" alt="" />
        </div>
        <div class="text">
            Check out our monthly featured products from top brands
        </div>
        <div class="carousel">
            <div class="leftarrow">
                <i class="fa-solid fa-circle-arrow-left fa-3x image"></i>
            </div>

           <div class="leftimage">
                <div class="image1">
                </div>
                <div class="image1text">
                    Winter collection for women's
                </div>
            </div>

            <div class="middleimage">
                <div class="menu">
                    <div class="circle">
                    <i class="fa-solid fa-circle fa-lg image"></i>
                    </div>
                    <div class="heart">
                   <i class="fa-solid fa-heart fa-lg image"></i>
                    </div>
                    <div class="shuffle">
                        <i class="fa-solid fa-shuffle fa-lg image"></i>
                    </div>
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass fa-lg image"></i>
                    </div>
                    <div class="cart">
                        <i class="fa-solid fa-cart-shopping fa-lg image"></i>
                    </div>
                </div>
                <div class="headline">
                    New look men's coat
                </div>
                <div class="fashion">
                    Fashion
                </div>
                <div class="price1">
                    $220.00
                </div>
                <div class="price2">
                    $190.00
                </div>
            </div>

            <div class="rightimage">
                <div class="image3">
                </div> 
                <div class="image3text">
                    Red women's blazer full
                </div>
            </div>

            <div class="rightarrow">
                <i class="fa-solid fa-circle-arrow-right fa-3x image"></i>
            </div>
        </div>
    </div>
</section>