<section id="featuredproducts">
    <div class="container-featured-products">
       <div class="headline">
            <div class="headline1">
                FEATURED
            </div>
            <div class="headline2">
                PRODUCTS
            </div>
        </div>
        <div class="image">
            <img src="~/img/line.svg" alt="" />
        </div>
        <div class="text">
            Check out our monthly featured products from top brands
        </div>
        <div class="carousel">
            <div class="leftarrow">
                <i class="fa-solid fa-circle-arrow-left fa-3x image"></i>
            </div>
            <div class="leftimage">
                
            </div>
            <div class="middleimage">
                
            </div>
            <div class="rightimage">
                
            </div>
            <div class="rightarrow">
                <i class="fa-solid fa-circle-arrow-right fa-3x image"></i>
            </div>
        </div>
    </div>
</section>