<section id="sales01">
    <div class="container-sales-01">
        <div class="shop">
            <div class="headline">
                30% OFF
            </div>
            <div class="text">
                FOR NEW CUSTOMER
            </div>
            <div class="text2">
                <button class="button3">SHOP NOW</button>
            </div>
        </div>
        <div class="learn">
            <div class="text">
                Donec pulvinar arcu vitae ipsum varius cursus. Nunc iaculis fermentum<br />
                iaculis. Nunc pulvinar purus at erat lacinia, ut convallis nibh consequat.<br />
                Integer nulla nisi, aliquam at tellus a, viverra scelerisque purus. Nam<br />
                pretium iaculis ultrices.
            </div>
            <div class="text2">
                <button class="button2">LEARN MORE</button>
            </div>
        </div>
    </div>
</section>