<section id="footer">
    <div class="back-to-top"><a href="#top-header" ><img src="~/img/Back_to_top.svg" /></a> </div>
    <div class="footer-grid">
        <div class="kenkata-info container-footer">
            <ul>
                <li class="Header1"><img src="img/kenkataLogo.png" /></li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim quam, ullamcorper vel tellus vitae, tempus fringilla lectus. Donec maximus justo eu nisl convallis iaculis. Aenean laoreet.</li>
                <li><br />Follow us <img class="line" src="img/small_line.svg" />  </li>
                <li class="social-media" ><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-linkedin"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="contact-info container-footer">
            <ul>
                <li class="Header1">CONTACT INFO</li>
                <li class="Header2">Address:</li>
                <li>Solna Business Park</li>
                <li>Feni-2500, Stockholm</li>
                <li class="Header2">Phone:</li>
                <li>+08-123456789</li>
                <li>+08-123456789</li>
                <li class="Header2">Email:</li>
                <li>support@website.com</li>
                <li>info@website.com</li>
            </ul>
        </div>
        <div class="useful-links container-footer">
            <ul>
                <li class="Header1">USEFUL LINKS</li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Our Sitemap</a></li>
                <li><a href="">Latest News</a></li>
                <li><a href="">Returns</a></li>
            </ul>
        </div>
        <div class="recent-instagram container-footer">
            <div class="Header1">RECENT INSTAGRAM</div>
            <div class="instagram-placeholders">
                <img src="img/Instagram-placeholder.svg" />
                <img src="img/Instagram-placeholder.svg" />
                <img src="img/Instagram-placeholder.svg" />
                <img src="img/Instagram-placeholder.svg" />
                <img src="img/Instagram-Overlay.svg" />
                <img src="img/Instagram-placeholder.svg" />
                <img src="img/Instagram-placeholder.svg" />
                <img src="img/Instagram-placeholder.svg" />
                <img src="img/Instagram-placeholder.svg" />
            </div>
        </div>
    </div>
    <div class="footer-bottom" >
        <div class="bottom">
            <div>© Copyright 2020 KenKata</div>
            <div class="payment">
                <img src="~/img/mastercard.png" />
                <img src="~/img/PayPal.png" />
                <img src="~/img/visa.png" />
                <img src="~/img/payoneer.png" />
                <img src="~/img/discovernetwork.png" />
            </div>
        </div>
    </div>
</section>
