<section id="footer">
    <div class="container-footer">
        <div class="kenkata-info">
            <ul>
                <li><img src="img/kenkataLogo.png" /></li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim quam, ullamcorper vel tellus vitae, tempus fringilla lectus. Donec maximus justo eu nisl convallis iaculis. Aenean laoreet.</li>
                <li>Follow us</li>
            </ul>            
        </div>
    </div>
    <div class="container-footer">
        <div class="contact-info">

        </div>
    </div>
</section>


© Copyright 2020 KenKata