<section id="companies">
    <div class="container-companies">
        <div class="bexim">
            <img src="~/img/companies/bexim.svg" />
        </div>
        <div class="lighton">
            <img src="~/img/companies/lighton.svg" />
        </div>
        <div class="dismis">
            <img src="~/img/companies/dismis.svg" />
        </div>
        <div class="rosimo">
            <img src="~/img/companies/rosimo.svg" />
        </div>
        <div class="dallas">
            <img src="~/img/companies/dallas.svg" />
        </div>
    </div>
</section>