<section id="companies">
    <div class="container-companies">
        <div class="bexim">
            <img src="img/bexim.svg" />
        </div>
        <div class="lighton">
            <img src="~/img/lighton.svg" />
        </div>
        <div class="dismis">
            <img src="~/img/dismis.svg" />
        </div>
        <div class="rosimo">
            <img src="~/img/rosimo.svg" />
        </div>
        <div class="dallas">
            <img src="~/img/dallas.svg" />
        </div>
    </div>
</section>