<section id="topsellers">
    <div class="container-topsellers">
        <div class="headline">
            <div class="headline1">
                TOP
            </div>
            <div class="headline2">
                SELLERS
            </div>
        </div>
        <div class="image">
            <img src="~/img/line.svg" alt="" />
        </div>
        <div class="text">
            Check out our weekly top sellers in all category
        </div>
        <div class="showcase">
            <div class="leftimage">
                <div class="image1">
                </div>
                <div class="image1text">
                    Men's denim shirts full
                </div>
            </div>
            <div class="topimage">
                <div class="image2">
                </div>
                <div class="image2text">
                    Women's leather bag and shoe
                </div>
            </div>
            <div class="downimage">
                <div class="menu">
                    <div class="circle">
                    <i class="fa-solid fa-circle fa-lg image"></i>
                    </div>
                    <div class="heart">
                   <i class="fa-solid fa-heart fa-lg image"></i>
                    </div>
                    <div class="shuffle">
                        <i class="fa-solid fa-shuffle fa-lg image"></i>
                    </div>
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass fa-lg image"></i>
                    </div>
                    <div class="cart">
                        <i class="fa-solid fa-cart-shopping fa-lg image"></i>
                    </div>
                </div>
                <div class="headline">
                    New look men's sneakers
                </div>
                <div class="fashion">
                    Shoes
                </div>
                <div class="price1">
                    $220.00
                </div>
                <div class="price2">
                    <div class="text">
                        $190.00
                    </div>
                    <div class="stars">
                        <img src="~/img/reviews/reviewsimage3.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>