<section id="topsellers">
    <div class="container-topsellers">
        <div class="headline">
            <div class="headline1">
                TOP
            </div>
            <div class="headline2">
                SELLERS
            </div>
        </div>
        <div class="image">
            <img src="~/img/line.svg" alt="" />
        </div>
        <div class="text">
            Check out our weekly top sellers in all category
        </div>
        <div class="showcase">
            <div class="image1">
            </div>
            <div class="image2">
            </div>
            <div class="image3">
            </div>
        </div>
    </div>
</section>