<section id="header">
    <div class="container-header">

        <partial name="Header/_TopHeaderPartial" />
        <partial name="Header/_MiddleHeaderPartial" />
        <partial name="Header/_LowerHeaderPartial" />

    </div>
</section>