<section id="top-header">
    <div class="container-top-header">

        <partial name="Header/_TopHeaderPartial" />

    </div>

</section>

<section id="middle-header">
    <div class="container-middle-header">

         <partial name="Header/_MiddleHeaderPartial" />

    </div>

</section>