<div class="browse">
    <ul>
        <li><img src="img/menu.svg" alt="" /></li>
        <li><a href="#">Browse Categories</a></li>
        <li><img src="img/drop.svg" alt="" /></li>
    </ul>
</div>
<div class="links">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a asp-controller="Product" asp-action="Index">Products</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
</div>
<div class="offer">
    <button class="button">SPECIAL OFFER</button>
</div>