<div class="browse">
    <ul>
        <li><img src="img/menu.svg" alt="" /></li>
        <li>Browse Categories</li>
        <li><img src="img/drop.svg" alt="" /></li>
    </ul>
</div>
<div class="links">
    <ul>
        <li>Home</li>
        <li>Shop</li>
        <li>Products</li>
        <li>Categories</li>
        <li>Pages</li>
        <li>Blog</li>
    </ul>
</div>
<div class="offer">
    <button class="button">SPECIAL OFFER</button>
</div>