    <div class="logo">
        <img src="img/Logo.svg" />
    </div>
    <div class="search">
        <form>
            <input type="search" class="form" placeholder="test" />
            <select class="form">
            <option>Categories</option>                            
            </select>

        </form>
    </div>
    <div class="account">
        <ul>
            <li><img src="img/user.svg" alt="" /></li>
            <li > 
                <a asp-controller="MyAccount"asp-action="Index">My account</a>
            </li> 
                
        </ul>
    </div>
    <div class="likes">
        <ul>
            <li><img src="img/likes.svg" alt="" /></li>
            <li><img src="img/random.svg" alt="" /></li>
            <li><img src="img/shopping.svg" alt="" /></li>
        </ul>
    </div>