
<div class="logo">
        <img src="~/img/header/Logo.svg" />
    </div>
    <div class="search">
        <form>
            <select class="form">
            <option>Products</option>
            @foreach(var product in Model)
            {
                <option>@product.ProductName, (@product.Price SEK) </option>
            }
            </select>

            <select class="form">
            <option>Categories</option> 

            @foreach(var product in Model)
            {
                <option>@product.Categories.Name</option>
            }
            
            </select>

        </form>
    </div>
    <div class="account">
        <ul>
            <li><img src="img/header/user.svg" alt="" /></li>
            <li><a href="#">My account</a></li>
        </ul>
    </div>
    <div class="likes">
        <ul>
            <li><img src="img/header/likes.svg" alt="" /></li>
            <li><img src="img/header/random.svg" alt="" /></li>
            <li><img src="img/header/shopping.svg" alt="" /></li>
        </ul>
    </div> 