<div class="top-header">
    <div class="block1">
        <ul>
            <li>ENG</li>
            <li>USD</li>
        </ul>
    </div>
    <div class="block2">
        <ul>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">FAQs</a></li>
        </ul>
    </div>
    <div class="socialmedia">
        <ul>
            <li><i class="fa-brands fa-facebook"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-linkedin"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
        </ul>
    </div>
</div>