<div class="top-header">
    <div class="block1">
        <ul>
            <li>ENG</li>
            <li>USD</li>
        </ul>
    </div>
    <div class="block2">
        <ul>
            <li>Newsletter</li>
            <li>Contact Us</li>
            <li>FAQs</li>
        </ul>
    </div>
</div>