@import "_mixin.scss";

#companies {
    padding-top: 0rem;
    padding-bottom: 7rem;

    .container-companies {
        @include grid3;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        column-gap: 70px;
        text-align: center;

        .bexim {
            grid-column: 1/2;
        }

        .lighton {
            grid-column: 2/3;
        }

        .dismis {
            grid-column: 3/4;
        }

        .rosimo {
            grid-column: 4/5;
        }

        .dallas {
            grid-column: 5/6;
        }
    }

}