@import "_mixin.scss";

#top-header {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background: $turquoise;
    box-shadow: 0px 0px 5px 0px $shadow;

    a {
        text-decoration: none;
        color: $light;
    }

    a:hover {
        text-decoration: underline;
    }

    .container-top-header {
        @include container;
        font-family: $roboto;
        font-weight: 400;
        font-size: 1rem;
        color: $light;

        .top-header {
            @include grid;
            grid-template-columns: repeat(20, 1fr);
            grid-template-rows: repeat(1, 1fr);


            .block1 {
                border-right: 2px solid white;
                padding-top: 0.6rem;
                padding-bottom: 0.6rem;
                grid-column: 1/4;
                grid-row: 1/2;


                ul {
                    @include flex;
                    list-style: none;

                    li {
                        background: url(/img/drop.svg) no-repeat right center;
                        padding: 0 1.5rem 0 0;
                    }
                }
            }

            .block2 {
                grid-column: 14/19;
                grid-row: 1/2;

                ul {
                    @include flex;
                    list-style: none;

                    li {
                        padding: 0 0.8rem 0 0.8rem;
                        border-right: 2px solid $light;
                        padding-top: 0.6rem;
                        padding-bottom: 0.6rem;
                    }
                }
            }

            .socialmedia {
                grid-column: 19/21;
                grid-row: 1/2;

                i:hover {
                    color: $i-hover;
                }

                ul {
                    @include flex;
                    list-style: none;

                    li {
                        padding: 0 0rem 0 1.5rem;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

#middle-header {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container-middle-header {
        @include grid;
        grid-template-columns: repeat(25, 1fr);
        grid-template-rows: repeat(1, 1fr);
        font-family: $roboto;
        font-weight: 400;
        font-size: 1rem;
        color: $text-dark;

        .logo {
            grid-column: 1/5;
            grid-row: 1/2;
        }

        .search {
            grid-column: 6/19;
            grid-row: 1/2;
        }

        .account {
            grid-column: 19/22;
            grid-row: 1/2;

            ul {
                @include flex;
                list-style: none;


                li {
                    padding: 0 0 0 1rem;
                }
            }
        }

        .likes {
            grid-column: 23/26;
            grid-row: 1/2;

            ul {
                @include flex;
                list-style: none;


                li {
                    padding: 0 0 0 1.5rem;
                }
            }
        }
    }
}

#lower-header {
    border-top: 1px solid $border;

    .container-lower-header {
        @include grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(1, 1fr);

        .browse {
            background: $turquoise;
            grid-column: 1/5;
            grid-row: 1/2;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            font-family: $roboto;
            font-size: 0.9rem;
            color: $light;

            a {
                text-decoration: none;
                color: $light;
            }

            a:hover {
                text-decoration: underline;
            }

            ul {
                @include flex;
                list-style: none;


                li {
                    padding: 0 0.8rem 0 0.8rem;
                }
            }
        }

        .links {
            grid-column: 6/17;
            grid-row: 1/2;
            font-family: $roboto;
            font-size: 1rem;
            color: $text-dark;
            font-weight: 400;

            ul {
                @include flex;
                list-style: none;



                li {
                    background: url(/img/dropturqouise.svg) no-repeat right center;
                    padding: 0 1.5rem 0 0;
                }
            }
        }

        .offer {
            grid-column: 18/21;
            grid-row: 1/2;
        }
    }
}