@import "_mixin.scss";

#newarrivals {
    padding-top: 3rem;
    padding-bottom: 4rem;

    .container-newarrivals {
        @include container;
        text-align: center;
        font-family: $roboto;

        .headline {
            @include flex2;
            font-size: 2.2rem;
            font-weight: 600;

            .headline1 {
                color: $text-dark;
                margin-right: 0.5rem;
            }

            .headline2 {
                color: $turquoise;
            }
        }

        .image {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .text {
            font-size: 0.9rem;
            margin-bottom: 3rem;
        }


    }
}