@media (min-width: 375px) {
    .container-top-header,
    .container-middle-header,
    .container-lower-header,
    .container-shopping,
    .container-information-boxes,
    .container-categoriesboxes,
    .container-newarrivals,
    .container-sales-01,
    .container-featured-products,
    .container-sales-02,
    .container-topsellers,
    .container-latestblog,
    .container-subscribe {
        max-width: 322px;
    }
}

@media (min-width: 576px) {
    .container-top-header,
    .container-middle-header,
    .container-lower-header,
    .container-shopping,
    .container-information-boxes,
    .container-categoriesboxes,
    .container-newarrivals,
    .container-sales-01,
    .container-featured-products,
    .container-sales-02,
    .container-topsellers,
    .container-latestblog,
    .container-subscribe {
        max-width: 520px;
    }
}


@media (min-width: 768px) {
    .container-top-header,
    .container-middle-header,
    .container-lower-header,
    .container-shopping,
    .container-information-boxes,
    .container-categoriesboxes,
    .container-newarrivals,
    .container-sales-01,
    .container-featured-products,
    .container-sales-02,
    .container-topsellers,
    .container-reviews,
    .container-latestblog,
    .container-subscribe {
        max-width: 718px;
    }
}


@media (min-width: 992px) {
    .container-top-header,
    .container-middle-header,
    .container-lower-header,
    .container-shopping,
    .container-information-boxes,
    .container-categoriesboxes,
    .container-newarrivals,
    .container-sales-01,
    .container-featured-products,
    .container-sales-02,
    .container-topsellers,
    .container-reviews,
    .container-latestblog,
    .container-subscribe {
        max-width: 942px;
    }
}


@media (min-width: 1200px) {
    .container-top-header,
    .container-middle-header,
    .container-lower-header,
    .container-shopping,
    .container-categoriesboxes,
    .container-sales-01,
    .container-sales-02,
    .container-topsellers,
    .container-reviews,
    .container-subscribe {
        max-width: 1150px;
    }

    .container-information-boxes {
        max-width: 1350px;
    }

    .container-newarrivals,
    .container-featured-products,
    .container-latestblog {
        max-width: 1300px;
    }
}
