@media (min-width: 375px) {
    .container-header {
        max-width: 322px;
    }

}

@media (min-width: 576px) {
    .container-header {
        max-width: 520px;
    }

}


@media (min-width: 768px) {
    .container-header {
        max-width: 718px;
    }

}


@media (min-width: 992px) {
    .container-header {
        max-width: 942px;
    }

}


@media (min-width: 1200px) {
    .container-header {
        max-width: 1150px;
    }

}
