@media (min-width: 375px) {
    .container-top-header,
    .container-middle-header,
    .container-lower-header,
    .container-shopping,
    .container-information-boxes,
    .container-categoriesboxes,
    .container-newarrivals {
        max-width: 322px;
    }

}

@media (min-width: 576px) {
    .container-top-header,
    .container-middle-header,
    .container-lower-header,
    .container-shopping,
    .container-information-boxes,
    .container-categoriesboxes,
    .container-newarrivals {
        max-width: 520px;
    }

}


@media (min-width: 768px) {
    .container-top-header,
    .container-middle-header,
    .container-lower-header,
    .container-shopping,
    .container-information-boxes,
    .container-categoriesboxes,
    .container-newarrivals {
        max-width: 718px;
    }

}


@media (min-width: 992px) {
    .container-top-header,
    .container-middle-header,
    .container-lower-header,
    .container-shopping,
    .container-information-boxes,
    .container-categoriesboxes,
    .container-newarrivals {
        max-width: 942px;
    }

}


@media (min-width: 1200px) {
    .container-top-header,
    .container-middle-header,
    .container-lower-header,
    .container-shopping,
    .container-categoriesboxes {
        max-width: 1150px;
    }

    .container-information-boxes {
        max-width: 1350px; 
    }

    .container-newarrivals  {
        max-width: 1250px;
    }

}
