@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "_mixin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    padding: 0.5rem;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, $light-grey-form 0px 0px 0px 1px;
    border-radius: 10px;
    width: 45%;
    margin: 0;
    margin-top: 0rem;
    transition: .3s box-shadow;
}

.form:focus {
    outline: none;
}