@import "_mixin.scss";

#topsellers {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .container-topsellers {
        @include container;
        text-align: center;
        font-family: $roboto;

        .headline {
            @include flex2;
            font-size: 2.2rem;
            font-weight: 600;

            .headline1 {
                color: $text-dark;
                margin-right: 0.5rem;
            }

            .headline2 {
                color: $turquoise;
            }
        }

        .image {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .text {
            font-size: 0.9rem;
            margin-bottom: 3rem;
        }

        .showcase {
            @include grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(9, 1fr);
            column-gap: 0rem;
            row-gap: 1.2rem;



            .image1 {
                grid-area: 1 / 1 / 9 / 4;
                background-color: $grey;
                background-image: url(/img/topsellersimage1.svg);
                background-repeat: no-repeat;
                padding-top: 43.7rem;
                width: 95.4%;
                border-radius: 10px;
                transition: 0.3s ease-in-out;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            }

            .image2 {
                grid-area: 1 / 4 / 5 / 7;
                background-color: $grey;
                background-image: url(/img/topsellersimage2.svg);
                background-repeat: no-repeat;
                padding-top: 21.2rem;
                width: 95.4%;
                border-radius: 10px;
                transition: 0.3s ease-in-out;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            }

            .image3 {
                grid-area: 4 / 4 / 10 / 7;
                background-color: $grey;
                background-image: url(/img/topsellersimage3.svg);
                background-repeat: no-repeat;
                padding-top: 21.2rem;
                width: 95.4%;
                border-radius: 10px;
                transition: 0.3s ease-in-out;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            }
        }

        .image1:hover, .image2:hover, .image3:hover {
            box-shadow: $cardhover 0px 2px 8px, $cardhover 0px 8px 24px, $cardhover 0px 16px 56px;
        }
    }
}
