//FONTS
$roboto: 'Roboto', sans-serif;

//STANDARD COLORS
$turquoise: #20D3C2;
$light: #FFFFFF;
$grey: #EEEEEE;
$light-grey: #F6F6F6;
$dark-grey: #CCCCCC;
$dark-purple: #0E153D;

//STANDARD FONT COLORS
$text-dark: #0E153D;
$text-light: #FFFFFF;
$text-turquoise: #20D3C2;

//FORM
$light-grey-form: #E3E3E3;

//HEADER
$border: #E3E3E3;
$shadow: #888888;
$i-hover: #23797e;

//INFORMATION-BOXES
$information-background: #EDFCFA;
$information-hover: #C7F4EE;

//BUTTONS
$light-turqouise: #A0FEF5;
$dark-turqouise: #24998E;