@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  padding: 0.5rem;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, #E3E3E3 0px 0px 0px 1px;
  border-radius: 10px;
  width: 45%;
  margin: 0;
  margin-top: 0rem;
  transition: 0.3s box-shadow;
}

.form:focus {
  outline: none;
}

@media (min-width: 375px) {
  .container-top-header,
.container-middle-header {
    max-width: 322px;
  }
}
@media (min-width: 576px) {
  .container-top-header,
.container-middle-header {
    max-width: 520px;
  }
}
@media (min-width: 768px) {
  .container-top-header,
.container-middle-header {
    max-width: 718px;
  }
}
@media (min-width: 992px) {
  .container-top-header,
.container-middle-header {
    max-width: 942px;
  }
}
@media (min-width: 1200px) {
  .container-top-header,
.container-middle-header {
    max-width: 1150px;
  }
}
#top-header {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #20D3C2;
  box-shadow: 0px 0px 5px 0px #888888;
}
#top-header a {
  text-decoration: none;
  color: #FFFFFF;
}
#top-header a:hover {
  text-decoration: underline;
}
#top-header .container-top-header {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
}
#top-header .container-top-header .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#top-header .container-top-header .top-header .block1 {
  border-right: 2px solid white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#top-header .container-top-header .top-header .block1 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
#top-header .container-top-header .top-header .block1 ul li {
  padding: 0 0.8rem 0 0;
}
#top-header .container-top-header .top-header .block2 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
#top-header .container-top-header .top-header .block2 ul li {
  padding: 0 0.8rem 0 0.8rem;
  border-right: 2px solid #FFFFFF;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#middle-header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#middle-header a {
  text-decoration: none;
  color: #0E153D;
}
#middle-header a:hover {
  text-decoration: underline;
}
#middle-header .container-middle-header {
  display: grid;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(1, 1fr);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #0E153D;
}
#middle-header .container-middle-header .logo {
  grid-column: 1/5;
  grid-row: 1/2;
}
#middle-header .container-middle-header .search {
  grid-column: 6/19;
  grid-row: 1/2;
}
#middle-header .container-middle-header .account {
  grid-column: 19/22;
  grid-row: 1/2;
}
#middle-header .container-middle-header .account ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
#middle-header .container-middle-header .account ul li {
  padding: 0 0 0 1rem;
}
#middle-header .container-middle-header .likes {
  grid-column: 23/26;
  grid-row: 1/2;
}
#middle-header .container-middle-header .likes ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
#middle-header .container-middle-header .likes ul li {
  padding: 0 0 0 1.5rem;
}
