@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Titta idag funkar det visst, var bra</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hallå där!! Funkar det nu!</p>
    <p>Testar Develop branchen</p>
</div>
