<section id="subscribe">
    <div class="container-subscribe">
        <div class="content">
            <div class="headline">
                <div class="headline1">
                    SUBSCRIBE
                </div>
                <div class="headline2">
                    NOW
                </div>
            </div>
            <div class="text">
                Signup for awesome news about our new products and<br />
                know our special discounts on products.

            </div>
            <div class="subscribeform">
            <form>
            <input type="text" class="form" placeholder="Enter email address" />
            <button class="button">SHOP NOW</button>
            </form>
            </div>
        </div>
        <div class="grey">
        </div>
    </div>
</section>