<section id="Product-Nav">
    <div class="banner">
        <div class="nav-links-left">
            <a href="">Home</a> /
            <a href="">Shop</a> /
            <a href="">Shoes</a> /
            Gents Blue Lightweight Trainers
        </div>
        <div class="nav-links-right">
            <img src="~/img/product/Bexim-Brand.svg" />
            <div class="icons">
                <i class="fa-solid fa-angle-left fa-2x"></i>
                <a href=""><i class="fa-solid fa-square-full fa-2x"></i></a>
                <i class="fa-solid fa-angle-right fa-2x"></i>
            </div>
        </div>
    </div>   
</section>
