<section id="Product-Extra">
    <div class="choices">
        <button class="choice">Description</button>
        <button class="choice">Additional information</button>
        <button class="choice">Reviews</button>
        <button class="choice">About Brand</button>
    </div>
    <div class="choice_review" >
        <div class="reviews">
            2 reviews for Gents Blue Lightweight Trainers
            <div class="review" >
                <img src="~/img/Instagram-placeholder.svg" />
                <div>
                    <div class="small-header">John Doe <p>- 24 July, 2020</p></div>
                    <img src="~/img/product/5_star.svg" />
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim.
                </div>
            </div>
            <div class="review" >
                <img src="~/img/Instagram-placeholder.svg" />
                <div>
                    <div class="small-header">Willium Cary <p> - 16 June, 2020</p></div>
                    <img src="~/img/product/5_star.svg" />
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
                </div>
            </div>
        </div>
        <div class="add-review" >
            <div class="header">Add a review</div>
            <p>Your email address will not be published. Required fields are marked *</p>
            <div class="rating">Your rating<div class="star">*</div>:<img src="~/img/product/5_star_empty.svg" /> </div>
            
            <form id="reviewForm">
                <div class="form" >
                    <p>Your review<div class="star">*</div></p>
                    <input type="text" id="review">
                </div>
                <div class="form" >
                    <p>Name<div class="star">*</div></p>
                    <input type="text" id="review">
                </div>
                <div class="form" >
                    <p>Email<div class="star">*</div></p>
                    <input type="text" id="review">
                </div>
                <input type="checkbox" id="checkbox" >
                <label for="checkbox">Save my name, email, and website in this browser for the next time I comment.</label>
                <button class="button">SUBMIT</button>
            </form>
        </div>

    </div>
</section>