<section id="Product-Info">
    <div class="product-images">
        <img src="img/product/shoes_Group.svg" />
    </div>
    <div class="product-text">
        <div class="header" >Gents Blue Lightweight Trainers</div>
        <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</div>
        <div class="product-price">
            <div class="current-price" >$190.00</div>
            <div class="old-price">$220.00</div>
            <div class="stock"><i class="fa-solid fa-chart-column"></i>In stock</div>
        </div>
        <div class="product-choices" >
            <img src="~/img/product/Product_quantity.svg" />
            <button class="button"><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
            <img src="~/img/product/chose_color.svg" />
            <img src="~/img/product/Compare_icon.svg" />
            <img src="img/product/Heart_icon.svg" />
        </div>
        <div class="category">
            Category:
            <div class="category-text">Shoes</div>
        </div>
        <div class="tags" >
            Tags:
            <div class="tags-text">Fashion</div>
            <div class="tags-text">Shoes</div>
            <div class="tags-text">Sneakers</div>
        </div>
        <div class="social-media">
            Share:
            <a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-linkedin"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</section>
