@{
    ViewData["Title"] = "Product Page";
}
<section id="product_page">
    <partial name="Header/_HeaderPartial" />

    <partial name="_ProductNavPartial" />
    <partial name="_ProductInfoPartial" />
    <partial name="_ProductExtraPartial" />


    <partial name="Footer/_Footer" />
</section>


