<section id="informationboxes">
    <div class="container-information-boxes">

        <div class="shipping">
                <div class="image">
                    <img src="~/img/information/shipping.svg" />
                </div>
                <div class="text">
                    <div class="headline">
                        Free Shipping
                    </div>
                    <div class="infotext">
                        For a local customer, we provide free shipping facility
                    </div>
                </div>
        </div>
        <div class="support">
                <div class="image">
                    <img src="~/img/information/support.svg" />
                </div>
                <div class="text">
                    <div class="headline">
                        24/7 support 
                    </div>
                    <div class="infotext">
                        For any inquiry, we are available 24 hours every day
                    </div>
                </div>
        </div>
        <div class="payment">
                <div class="image">
                    <img src="~/img/information/payment.svg" />
                </div>
                <div class="text">
                    <div class="headline">
                        Online payment
                    </div>
                    <div class="infotext">
                        You can pay quickly and easily with our online payment system
                    </div>
                </div>
        </div>
        <div class="delivery">
                <div class="image">
                    <img src="~/img/information/delivery.svg" />
                </div>
                <div class="text">
                    <div class="headline">
                        Fast delivery
                    </div>
                    <div class="infotext">
                        We understand your urgency and we deliver in a fast way
                    </div>
                </div>
        </div>

    </div>
</section>