<section id="sales02">
    <div class="container-sales-02">
        <div class="shop">
            <div class="headline">
                FLASH SALE
                <div class="text">
                    UP TO 50% OFF
                </div>
            </div>
        </div>
        <div class="circles">
            <div class="text">
                <div class="days">
                    <div class="headlinedays">
                        7
                    </div>
                    <div class="textdays">
                        Days
                    </div>
                </div>
                <div class="hours">
                    <div class="headlinehours">
                        23
                    </div>
                    <div class="texthours">
                        Hours
                    </div>
                </div>
                <div class="months">
                    <div class="headlinemonths">
                        46
                    </div>
                    <div class="textmonths">
                        Months
                    </div>
                </div>
                <div class="seconds">
                    <div class="headlineseconds">
                        12
                    </div>
                    <div class="textseconds">
                        Seconds
                    </div>
                </div>
            </div>
            <div class="text2">
                <button class="button2">SHOP NOW</button>
            </div>
        </div>
    </div>
</section>