<section id="shopping">
    <div class="container-shopping">

        <div class="shopping-text">
            <div class="text1">
                Shopping is
            </div>
            <div class="text2">
                MORE FUN
            </div>
            <div class="text3">
                Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed
            </div>
            <div class="text4">
                <button class="button2">SHOP NOW</button>
            </div>
        </div>

        <div class="shopping-people">
             <img src="img/shopping-people.svg" width="635" height="550" alt="" />
        </div>

    </div>
</section>